<div class="text-container">
  <h1>Red Cross Assistance - Client Signature</h1>
<p>By signing below, you indicate that you have read and understand the conditions in the previous page.  If you have any questions, ask your Red Cross caseworker before signing</p>
<p>Please use the stylus provided to sign in the box below.  <em>Do not</em> use a regular pen as this will damage the screen.  When you are done hand the device back to the Red Cross caseworker.</p>
<p>All Red Cross assistance is a gift of the American people and never needs to be repaid.  All information collected is for the purpose of assisting you with disaster relief and will only be shared with the agencies listed on the previous page.</p>
</div>